* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'lato', 'san-serif';
}

:root {
    --bg: #fff;
    --green: #00aa6c;
    --red: #fc6d79;
    --blue: #8ea4ff;
    --yellow: #ffba3a;
    --nav_btn: linear-gradient (to right, #F54B64, #F78361);
    --nav_bar: #242a38;
    --primary: rgb(7, 255, 152);
    --text_color: rgb(65, 65, 65);
    --item_hover: rgb(228, 228, 228);
}

/* START OF NAV BAR */

nav {
    background-color: #242a38;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 15px 50px;

}

nav .nav_buttons {
    display: flex;
    gap: 10px;
    flex: 0 1 auto;
}

nav .logo {
    font-size: 25px;
    font-weight: 900;
    color: #4E586E;
    display: flex;
    gap: 10px;
    user-select: none;
}

nav .logo span p{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 900;
    margin: 0;
}

.beta_text {
    font-size: 13px;
    color: #F54B64;
}
 

nav .navbar_btn {
    padding: 10px 15px;
    background-image: linear-gradient(to right, #F54B64, #F78361);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

nav .navbar_btn:hover {
    background-image: linear-gradient(to right, #F54B70, #F78375);
    box-shadow: 0 0 5px 5px rgba(83, 83, 83, 0.041);
    border: none;
}

.material-symbols-outlined {
    vertical-align: middle;
}

.tooltip {
    display: flex;
    flex-direction:column;
    position: relative;
    align-items: center;
}
  
.tooltiptext {
    top: 50px;
    font-size: 13px;
    display: none;
    width: 100px;
    background-color: #242a31;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
    
    .tooltip:hover .tooltiptext {
    display: block;
}

/* END OF NAV BAR */

/* START OF SWOT CONTENT */

main {
    height: 90vh;
    display: flex;
    padding: 10px;
    color: gray;
}

.container_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 10px;
    border-radius: 0 0 5px 5px;
}

.container_swot {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(83, 83, 83, 0.2);
    border-radius: 5px 5px 5px 5px;
    border: solid 1px lightgray;
}

.container_itens {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    height: 100%;
}

.container_header {
    border-radius: 5px 5px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
    color: var(--text_color);
    vertical-align: middle;
}

.container_header .header_icon {
    border-radius: 50%;
    padding: 7px;
    color: white;
    margin-right: 10px;
    font-size: 20px;
}


.container_swot#strength_container .header_icon {
    background-color: var(--green);
    box-shadow: 0px 0px 20px var(--green_shadow);
}

.container_swot#weakness_container .header_icon {
    background-color: var(--red);
    box-shadow: 0px 0px 20px var(--red_shadow);
}

.container_swot#oportunity_container .header_icon {
    background-color: var(--blue);
    box-shadow: 0px 0px 20px var(--blue_shadow);
}

.container_swot#threat_container .header_icon {
    background-color: var(--yellow);
    box-shadow: 0px 0px 20px var(--yellow_shadow);

}

.highlight {
    background-color: rgba(6, 182, 0, 0.123);
}

.hover_highlight {
    background-color: rgba(6, 182, 0, 0.253);
}

.is_dragging {
    cursor:move;
    opacity: 50%;
}

/* SCROLL BAR */

.container_itens::-webkit-scrollbar {
    width: 0px;
}

/* .container_itens::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
.container_itens::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0);
  }

.container_itens::-webkit-scrollbar-thumb:hover {
   background: rgba(85, 85, 85, 0);
  } */

/* END SCROLL BAR */

.item {
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid lightgray;
    border-left: 5px solid;
    border-left-color: var(--tag_color);
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.item p {
    margin: 0;
}

.item .btn_delete {
    font-size: 15px;
    background-color: var(--bg);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    color: gray;
    opacity: 0;
}

.item .btn_delete:hover {
    background-color: rgb(255, 157, 157);
    color: var(--bg);
}

.item:hover {
    background-color: var(--item_hover);
}

.item:hover .btn_delete {
    opacity: 1;
}

.container_add_item {
    padding: 10px 10px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 5px;
    border: none;
    justify-content: center;
}

.container_add_item span, p {
    font-size: 15px;
    margin: 0;
}

.container_add_item:hover {
    background-color: var(--item_hover);
}

.ghost_item{
    opacity: 0.5;
}

/* END OF SWOT CONTENT */

/* START OF MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 40vw;
    height: auto;
    background-color: var(--bg);
    margin: auto;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 0 10px 5px rgba(83, 83, 83, 0.274);
    background-color: var(--item_hover);
    position: relative;

}

.modal_tags {
    display: flex;
    flex-direction: column;
}

.modal_tags input[type=color] {
    margin-top: 5px;
    width: 60px;
    height: 32px;
    border: none;
    cursor: pointer;
}

.modal_tags input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 10%;
    border: rgb(24, 24, 24);
}

.modal_description {
    display: flex;
    flex-direction: column;
}


.modal_buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.modal input#item_title {
    width: 100%;
    padding: 10px 30px;
    font-size: 1.3rem;
    border: none;
    transition: all 0.5s ease;
    color: darkgray;
    cursor: pointer;
    background-color: #c7ceea00;
    border-radius: 10px;
    position: relative;
}

.modal input#item_title:focus {
    outline: none;
    background-color: var(--bg);
    outline: solid 1px lightgray;
    border-radius: 10px;
    cursor: text;
}


.edit_title_tip {
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 3px;
    position: absolute;
    cursor:default;
    user-select: none;
    color: rgb(255, 255, 255);
    top: 32px;
    left: 20px;
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #00aa6c;
    justify-content: center;
    align-items: center;
}

.modal textarea {
    resize: none;
    width: 100%;
    height: 200px;
    border: solid 1px lightgray;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.5s ease;
    outline: none;
    font-family: lato;
    color: gray;
    padding: 10px;
}

.modal textarea:focus {
    outline: none;
    background-color: var(--bg);
    outline: solid 1px lightgray;
    border-radius: 10px;
}

label {
    color: gray;
}

#modal_save_btn {
    padding: 10px 15px;
    background-color: var(--nav_btn);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: rgb(65, 65, 65);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: solid 1px lightgray;
}

#modal_save_btn:hover {
    background-color: var(--green);
    box-shadow: 0 0 5px 5px rgba(83, 83, 83, 0.034);
    border: solid 1px lightgray;
    color: white;
}

#modal_remove_btn{
    position: relative;
    vertical-align: middle;
    padding: 10px 15px;
    background-color: var(--red);
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    display: inline-block;
    align-items: center;
    border: solid 1px lightgray;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    max-width: 300px;
}

#modal_remove_btn:hover {
    background-color: var(--nav_btn);
    border: solid 1px var(--red);
    color: var(--red);
}

#modal_remove_btn .modal_remove_btn_text{
    max-width: 0;
    white-space: nowrap;
    max-height: 0;
    display: inline-block;
    overflow: hidden;
    color: white;
    vertical-align: middle;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition-delay: 0.3s;
}

#modal_remove_btn:hover .modal_remove_btn_text {
    max-width: 250px;
    color: var(--red);
    max-height: 250px;
}

/* END OF MODAL */


/* CONFIRMATION NEW MODAL */


.confirmation_newSwot{
    /* display: grid; */
    display: none;
    place-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.confirm_newSwot_content {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 30vw;
    height: auto;
    background-color: var(--bg);
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(83, 83, 83, 0.274);
    background-color: var(--item_hover);
    position: relative;
    animation-name: slideIn;
    animation-duration: 0.4s

}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

.confirm_newSwot_content h2, p {
    color: rgb(73, 73, 73);
    margin: 0;
    margin-bottom: 10px;
}

.confirm_newSwot_content h2 {
    font-size: 1.3rem;
}

.confirm_newSwot_content .confirm_btns {
    width: 100%;
    display: flex;
    gap: 10px;
}

.confirm_newSwot_content button {
    background-color: var(--green);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    transition: 0.3s all ease;
    color: white;
}

.confirm_newSwot_content button:last-child{
    border: 1px solid var(--red);
    background-color: var(--bg);
    color: var(--red);
}

.confirm_newSwot_content button:hover {
    opacity: 0.7;
}

.confirm_newSwot_content button:last-child:hover{
    border: 1px solid var(--red);
    background-color: var(--red);
    color: white;
}


@media (max-width: 768px) {
    .modal_content {
        width: 70vw;
    }

    .item .btn_delete {
        opacity: 1;
        background-color: rgb(255, 157, 157);
        color: var(--bg);
    }

    .confirm_newSwot_content{
        width: 70vw;
    }
}

@media (max-width: 425px) {
   .container_swot{
        height: auto;
        overflow:visible;
   }
    .container_itens {
        overflow:hidden;
        height: auto;
    }

    .modal_content {
        width: 90vw;
    }
    .container_content {
        display: flex;
        flex-direction: column;
    }

    nav .logo {
        font-size: 15px;
        gap: 5px;
    }

    nav .logo span p {
        font-size: 15px;
    }

    .confirm_newSwot_content{
        width: 70vw;
    }

    nav .nav_buttons .navbar_btn .btn_text {
        display: none;
    }

    nav {
        padding: 15px 15px;
    }
}


